/* Colors */
$p-color: #000000;
$h-color: #a6a6a6;
$p-white-color: #FEFFFF;
$profile-name-color: #56819f;
$color-blue: #80BFCA;
$color-green: #58B56D;
$color-dark-background: #181818;
$color-light-background: #FEFFFE;
$color-main-container-outer:#F3F3F0;
$color-orange-stats: #f58220;
$color-link-hover: #ffa200;
$color-orange-button: #F5821F;
$color-pagelink: #56819f;
$color-menu-hover: #282828;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$font-family: 'Roboto', sans-serif;
$paragraph-font: "Open Sans", Helvetica, Arial;

/* Borders */
$border-topbar: 1px solid #e3e3e3;

/* Medias */
$small_devices: 576px;
$mid_devices: 768px;
$large_devices: 992px;