.notifications-dropdown {
  width: 400%;
  display: none;
  flex-direction: column;
  background-color: $color-main-container-outer;
  position: absolute;
  top: 77px;
  left: 0;

  .notification-light {
    position: static;
  }

}

.notification {
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-family: $font-family;
    font-size: 14px;

    &.active {
      color: $profile-name-color;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: rgb(190, 210, 216);
  }
}

.notifications:hover .notifications-dropdown{
  display: flex;
}

/* Media */
@media screen and (max-width: $mid_devices) {
  .notifications-dropdown {
    left: -100%;
    top: 53px;
  }
}