.manager {
  p {
    font-family: $font-family;
    color: $h-color;
    text-transform: uppercase;
    font: $font-family;
    font-size: 15px;
    padding-left: 5px;
  }
}

.manager-name {
  font-family: $font-family;
  color: $profile-name-color;
  font-weight: 300;
  font-size: 16px;
}

img.manager-img {
  padding: 0 7px;
}

.manager-icon {
  position: relative;
}

.manager-light {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: $color-green;
  left: 70%;
  top: 5%;
  display: none;

  &.active {
    display: block;
  }
}

.manager-item:hover {
  background-color: $color-dark-background;
  cursor: default;
}

/* Media */
@media screen and (max-width: $mid_devices) {
  .manager-item {
    padding-top: 5px;
    display: flex;
    justify-content: center;
  }
  
  .manager {
    display: none;
  }

  .manager-name {
    display: none;
  }

  img.manager-img {
    width: 35px;
    margin: 0 auto;
    padding: 0;
  }
}